*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.section{
    max-width: 1920px;
    margin: 0 auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.nav{
    max-width: 1200px;
    height: 61px;
    background-color: #0152A8;
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    color: white;
}

.nav img{
    margin-left: 200px;
    padding-left: 20px;

}

.section1{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 20px;
}
.section1 a{
    text-decoration: none;
}
.section1 button{
    width: 188px;
    height: 61px;
    background-color: #0FE3AF;
    font-size: 20px;
    
}

.makes{
    margin-top: 170px;
    padding-left: 137px;
    gap: 14px;
}


.makes h1{
    margin-top: 40px;
    gap: 14px;
}

.makes h3{
    border: 1px solid yellow;
    margin-top: -638px;
    gap: 14px;
}

.makes p{
    margin-top: 40px;
    gap: 14px;
}

.makes button{
    width: 171px;
    height: 60px;
    padding: 17px, 41px, 17px, 41px;
    gap: 10px;
    background-color: #0152A8;
    font-size: 16px;
    color: #fff;
}
.makesimg img{
    width: 1200px;
    height: 586px;
    /*background-image: url(images/Image.jpg);*/
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-left: 10px;
    margin-right: 10px;
}

.section2{
    text-align: left;
    margin-top: 200px;
}

.section2>p{
    text-align: center;
    border: 1px solid #CECECE;
    width: 120px;
    text-align: center;
    margin: 0 auto;
}

.section2>h1{
    text-align: center;
}


.card{
    border: px solid red;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: center;
    margin: 15px;
    margin-top: 40px;
    
}

.angi{
    border: px solid black;
    width: 285.27px;
    height: 304,9px;
    background-color: #F1F1F1;
}

.an{
    margin: 40px;
    gap: 11px;
}

.angi a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}


.section3{
    margin: 4px;
    background-image: url(images/section3/Image.jpg);
    width: 1200px;
    height: 710px;

}

.section3 .about{
    border: px solid red;
    background-color: #fafafa;
    width: 540.48px;
    height: 476.84px;
    margin-top: 15px;
    margin-left: 613px;
    padding-top: 20px;
    padding: 45px;
    gap: 10px;
}

.multi{
    display: flex;
    gap: 40px;
    align-items: center;
    
}

.hor{
    display: flex;
    align-items: center;
}

.hor p{
    margin-left: 10px;
}

.about button{
    width: 197px;
    height: 60px;
    margin-top: 30px;
    background-color: #0152A8;
    color: #fff;
    font-size: 16px;
}

button:hover{
    background-color: red;
    transition: 2s;
}

.add{
    padding: 50px;
}

.about h3{
    border: 1px solid #CECECE;
    width: 120px;
    text-align: center;
}

.section4{
    margin-top: 50px;
    align-items: center;
    gap: 20px;
}

.spin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
    cursor: pointer;
}

.spinal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.section5{
    background-image: url(images/section5/Group\ 2.png);
    width: 1200px;
    height: 412.68px;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.section5 h1{
    margin: 20px;
    padding-top: 150px;
}

.section5 button{
    width: 233px;
    height: 60px;
    background-color: #0FE3AF;
    font-size: 15px;
}

.section5 button:hover{
    background-color: red;
    transition: 2s;
}

.section6{
    margin-top: 149px;
    display: flex;
    justify-content: space-between;
}

.speac{
    gap: 10px;
    align-items: center;
}

.speac p a{
    text-decoration: none;
}
.year{
    display: flex;
}

.prof{
    display: flex;
}
.year_prof{
    gap: 10px;
}

.mark{
    background-image: url(images/section6/1212.png);
    width: 545px;
    height: 513px;
    background-repeat: no-repeat;
    margin-left: 20px;
}

.mark h4{
border: px solid red;
width: 199px;
height: 75px;
background-color: black;
text-align: center;
margin-top: 367px;
margin-left: 175px;
color: #fff;
padding: 15px;
}

.mark span{
    font-size: 14px;
    text-align: right;
}

.section6 button{
    width: 188px;
    height: 60px;
    background-color: #0152A8;
    margin-top: 85px;
    font-size: 20px;
    color: #fff;
}

.section6 button:hover{
    background-color: red;
    transition: 2s;
}

.section6 h3{
    border: 1px solid #CECECE;
    width: 160px;
}

.section7{
    margin-top: 149px;
}

.section7 .text{
    text-align: center;
}

.text h3{
    border: 1px solid #CECECE;
    width: 160px;
    text-align: center;
    margin: 0 auto;
}

.robert{
    display: flex;
    align-items: center;
    gap: 19px;
    margin: 40px;
}

.star
{
    background-color: #F1F1F1;
    margin-top: 20px;
    width: 583px;
    height: 321px;
}

.heart{
    display: flex;
    gap: 20px;
    display: flex inline;
    justify-content: space-between;
}

.heart2{
    display: flex;
    gap: 20px;
    display: flex inline;
    justify-content: space-between;
}
.nam{
    margin-left: 200px;
}

.chiz{
    border: 1px solid rgb(210, 206, 206);
    width: 100;
    height: 0 auto;
    margin: 20px;
}
.yul{
    padding: 20px;
}

.section8{
    border: 2px solid #DCEDFE;
    background-color: #DCEDFE;
    width: 1200px;
    height: 593px;
    margin-top: 80px;
}

.text1 h3{
    border: 1px solid #CECECE;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 190px;
}

.text1 p{
    text-align: center;
    margin: 0 auto;
}

.clot{
    display: flex;
    gap: 40px;
    justify-content: center;
    text-decoration: none;
}

.clot a{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 5px;
}

.blood{
    display: flex;
    gap: 40px;
    justify-content: center;
    text-decoration: none;
}

.blood a{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 5px;
}

.section9{

    background-color: #0152A8;
    width: 1200px;
    height: 1239px;
}

.text88{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-top: 80px;
    padding: 10px;
}

.text88 button{
    width: 188px;
    height: 60px;
    background-color: #0FE3AF;
}

.text88 button:hover{
    background-color: red;
    transition: 2s;
}

.cap1{

    width: 360px;
    height: 509px;
    background-color: #004A99;
    margin: 0 auto;
}

.doct{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.cap1 img{
padding-left: 30px;
margin-top: 25px;
}

.cap1 h1{
    text-align: center;
}

.cap1 p{
    text-align: center;
}

.cap1 a{
    padding-left: 85PX;
}

.text77 p{
    border: 1px solid #CECECE;
    width: 170px;
    text-align: center;
    margin-right: 170px;
}

.chiz2{
    border: 1px solid #2F85E1;
    width: 1200px;
    height: 1px;
    margin-top: 100px;
}

.son{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.son1 h1{
    font-size: 50px;
}

.son1 p{
    border: 1px solid #2B78CA;
    width: 150px;
    text-align: center;
}

.section10{

    width: 1200px;
    height: 700px;
    margin-top: 80px;
}

.text10 p{
    border: 1px solid #CECECE;
    width: 120px;
    margin-right: 170px;
    margin-top: 90px;
}

.text10{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.august1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.august2{
    display: flex;
    align-items: center;
    padding-left: 110px;
    gap: 20px;
}

.artic{
    margin-top: 30px;
}
.artic h1{
    font-size: 20px;

}
.section10 p{
    border: 1px solid #CECECE;
    width: 125px;
    margin-right: 170px;
}

.text2 button{
    width: 188px;
    height: 80px;
    font-size: 16px;
    border: 2px solid #DFDFDF;
    background-color: #fff;
}

.section10 button:hover{
    background-color: red;
    transition: 2s;
}

.section11{
    width: 1200px;
    height: 500px;
    background-color: #E5F2EF;
    margin-top: 120px;
}
.appo{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    padding-left: 80px;
}

.section11 p{
    border: 1px solid #E5F2EF;
    width: 290px;
    color: #545454;
}

.section11 input{
    width: 325px;
    height: 60px;
    padding-left: 20px;
}

.section11 button{
    width: 138px;
    height: 60px;
    background-color: #0152A8;
    color: #fff;
    font-size: 17px;
}

.section11 a{
    text-decoration: none;
    color: #545454;
}

.ph{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px;
}

.ph a{
    display: flex;
    align-items: center;
    gap: 10px;
}


.section12{
    width: 1200px;
    height: 100px;
    color: #545454;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #fff;
}

.section12 p{
    width: 1200px;
    border: 1px solid #fff;
}

.logoTenX a{
    text-decoration: none;
}